img{
    height: auto;
    border: 3em;
    border: brown solid;
    border-radius: 2em;
    height: 90vh;
    position: relative;
}

#interact{
/*position might get out of the image in some instances*/
    top: 1em;
    left: 2em;
    position: absolute;
    height: auto;
}
#quote{
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 15em;
    height: 3em;
}
.good{
    color: rgba(117, 248, 9, 0.89);
}
.error{
    color: red;
}
